<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
    <title>login/sign up</title>
</head>
<body>
<h1>Please log in</h1>
<div th:if="${param.error}">Wrong username or password</div>
<div th:if="${param.logout}">You are logged out</div>
<div class="col-md-4">
    <form th:action="@{/login}" method="post">
        <div><label>User name: <input type="text" name="username"/></label></div>
        <div><label>Password: <input type="text" name="password"/></label></div>
        <div><input type="submit" value="Sign in"/>
        </div>
    </form>
    <a th:href="@{/signup}">Sign up</a>
</div>
</body>
</html>